h1 {
  color: blue;
}
img {
  width: 400px;
}
#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: burlywood;
  padding: 50px;
  border: 4px;
  border-color: crimson;
  border-style:dotted;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}

.divClass{
    border: 2px dotted #033307;
}